<%- contentFor('header') %>
<link rel="stylesheet" href="/styles/contactsStyle.css">

<%- contentFor('body') %>
<section>
  <div id="top-tab">
    <button type="button" class="btn btn-success">Add new contact</button>
    <input type="text" class="searchInput form-control" placeholder="Search">
  </div>
  <div id="contacts-table">
    <table class="table table-primary table-hover">
      <tbody>
        <tr>
          <td>Markfdsagfkm gaekrmng akg</td>
          <td>Ottfdgk adfblb o</td>
          <td>
            <button type="button" class="btn btn-warning btn-sm">Edit</button>
            <button type="button" class="btn btn-danger btn-sm">Delete</button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</section> 
