<%- contentFor('header') %>

<%- contentFor('body') %>
<section>
  <div class="alert alert-warning" role="alert">
    Oops, something went wrong... Please try again later.
  </div>
  <button type="button" class="btn btn-primary" onclick="history.back()">Return</button>  
</section>